/*  color properties */
/* color background-color */
/* color names 140 */
/* RGBA 0-1 opacity/transparancy */

#first {
  color: darkslateblue;
  background-color: lavender;
}
#second {
  color: lavenderblush;
  background: darkslategray;
}
body {
  background: rgb(22, 15, 78);
}
#three{
color:rgb(114, 102, 207);
background: #0000007c;
}
