div {
  width: 200px;
  height: 200px;
  margin: 8px;
}
.one {
  background: linear-gradient(purple, rgb(32, 238, 238));
}
.two{
  background: linear-gradient(to top, yellow,lightgreen);
}
.three{
  background: linear-gradient(140deg,rgb(96, 201, 236) ,yellow,orange,red);
}
.four{
  background: linear-gradient(to top right, yellow,lightgreen,green);
}
.five{
  background: linear-gradient(to left,rgba(0,0,0,0.3),rgba(0,0,0,0.9));
}